.aside {
  width: $adminAsideWidth;
  background: $adminColorBlue;
  flex-shrink: 0;
  transition: all 0.4s ease-in-out;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  top: 0px;
  left: 0px;
  overscroll-behavior: contain;
  height: 100vh;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &.active {
    width: 60px;
  }
}
