:root {
  --color-red: red;
  --color-blue: blue;
  --color-white: #fff;
  --admin-color-blue: #3d506d;
  --admin-color-dark: #323232;

  --admin-top-height: 50px;
  --admin-aside-width: 250px;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
