@import "/node_modules/bootstrap/scss/bootstrap.scss";
html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
@each $item, $value in $grid-breakpoints {
  .container {
    @media all and (min-width: $value) {
      @if ($value==0) {
        width: 300px;
      } @else {
        width: $value - 60;
      }
      margin: auto;
    }
  }
}
a {
  text-decoration: none !important;
}
