@import "variables";

@mixin xs-size {
  @media all and (max-width: map-get($grid-breakpoints,"xs")) {
    @content;
  }
}
@mixin sm-size {
  @media all and (max-width: map-get($grid-breakpoints,"sm")) {
    @content;
  }
}
@mixin medium-size {
  @media all and (max-width: map-get($grid-breakpoints,"md")) {
    @content;
  }
}
@mixin large-size {
  @media all and (max-width: map-get($grid-breakpoints,"lg")) {
    @content;
  }
}
@mixin xl-size {
  @media all and (max-width: map-get($grid-breakpoints,"xl")) {
    @content;
  }
}
@mixin xxl-size {
  @media all and (min-width: map-get($grid-breakpoints,"xxl")) {
    @content;
  }
}
@mixin absoluteCenter {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-50%, -50%);
}
@mixin flexItem($direction: row, $content: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}
